.containerUser {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    height: 100vh;
    width: 50%;
}

.title {
    margin-top: 80px;
    font-size: 30px;
}

.containerForm {
    margin-top: 50px;
    width: 250px;
}

.inputEmail {
    width: 100%;
    height: 25px;
}

.inputPassword {
    width: 100%;
    margin-top: 40px;
    height: 25px;
}

.button {
    width: 220px;
    margin-top: 50px;
    margin-left: 17px;
    background-color: #069A8E;
    height: 35px;
    font-size: 18px;
    color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.line {
    display: inline-block;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.line::after, .line::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: #069A8E;
    top: 0.6em;
}

.line::before {
    left: -220px;
}

.line::after {
    right: -220px;
}

.buttonGoogle {
    margin-top: 30px;
}

.textFinal {
    margin-top: 20px;
    font-size: 18px;
    color: #069A8E;
    text-align: center;
}