.radio{
  display: none;
}

.label {
  color: grey;
}
.contenedor{
  display: flex;
  align-content: center;
  justify-content: center;
}
.h3{
  display: flex;
  justify-content: center;
}


.clasificacion {
  direction: rtl;
  unicode-bidi:isolate-override;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.btn {
  width: 220px;
  margin-top: 50px;
  background-color: #069A8E;
  height: 35px;
  font-size: 18px;
  color: #f0f0f0;
  cursor: pointer;
}
.button {
  transition-duration: 0.4s;
  background-color: rgb(59, 64, 64);
  color: rgb(248, 247, 246);
  font-weight: bold;
  border: 0mm;
  border-radius: 4px;
  padding: 8px 28px;
  margin-top: 10px;

}

.button:hover {
  background-color: rgb(248, 247, 246); 
  color: rgb(59, 64, 64);
}

.label:hover,
.label:hover ~ .label {
  color: orange;
}

.radio:checked ~ .label {
  color: orange;
  
}