.container{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 2%;
}

.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

._le6wlg{
  padding-left: var(--gp-padding-largeAndAbove, 80px) !important;
  padding-right: var(--gp-padding-largeAndAbove, 80px) !important;
}

.carousel{
  padding-left: var(--gp-padding-largeAndAbove, 30px) !important;
  padding-right: var(--gp-padding-largeAndAbove, 30px) !important;
}

.hr {
    width: 70%;
    margin-left: 0%;
}

.button {
    transition-duration: 0.4s;
    background-color: rgb(59, 64, 64);
    color: rgb(248, 247, 246);
    font-weight: bold;
    border: 0mm;
    border-radius: 4px;
    padding: 8px 28px;
    margin-left: 50%;
    margin-right: 50%;
  }
  
  .button:hover {
    background-color: rgb(248, 247, 246); 
    color: rgb(59, 64, 64);
  }

  .card{
    border-color: #069A8E;
    border-radius: 4px;
    border-width: 10px;
    background-color: #069A8E;
  }

  .button1 {
    transition-duration: 0.4s;
    background-color: #069A8E;
    color: rgb(248, 247, 246);
    font-weight: bold;
    border: 0mm;
    border-radius: 4px;
    padding: 8px 58px;
    white-space: nowrap;
    align-self: center;
  }
  
  .button1:hover {
    background-color: rgb(248, 247, 246); 
    color: #069A8E;
  }

  .flexcontainer {
    display: flex;
    padding: 10px;
    justify-content:end
  }

  .flexcontainer1 {
    display: flex;
    padding: 10px;
    flex-direction: column;
    }

  .flexcontainer2 {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flexcontainer4{
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .select {
    justify-content: left;
    align-self: left;
  }

  .flexcontainer3{
    border-color: rgb(176, 171, 171);
    border-width: 2px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-bottom: 10px;
    justify-content: center;
    justify-items: left;
    justify-self: left;
  }

  .p1{
    color: rgb(30, 29, 29);
}

.p2{
    color: rgb(120, 119, 119);
    text-decoration:line-through;
}