.container{
    display: flex;
    flex-direction: row;
    padding-inline: 2.5em;
    padding-block-start: 0.625em;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 0em;
    padding: 0.8em;
}
.container_icons{
    display: flex;
    flex-direction: row;
    gap: 0.625em;
<<<<<<< HEAD
=======
    justify-content: center;
>>>>>>> 4819244087d1f6d864f07a57bc65300a8b8cc3e6
    padding-left: 8em;
}

.icons{
    font-size: 1.8em;
}

.container_btn_icon{
    display: flex;
    align-items: center;
}
.button_icon{
    border:none;
    color:#069A8E;
    background-color: white;
    border-radius: 0.5em;
}
.button_icon:hover{
    box-shadow: 0.188em 0.188em 2.5em 0 rgba(0,0,0,0.2);
    transition: .7s;
}
.text_desc_icon{
    font-size: 0.8em;
}

.modal_content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 2px solid #069A8E ;
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.button_modal{
    background: #069A8E;
    border: none;
    border-radius: 0.375rem;
    padding: 0.6em;
    color: #ffffff;
}
.button_remove {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-size: 0.8rem;
    color: #575555;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 0.375rem;
    text-decoration: #575555;
    text-decoration-color: #575555;
  }