.img{
  width: 100%;

}
img{
  width: 100%;
  border-radius: 10px;
}
.text{
  margin-top: 20px;
}
.text h3{
  font-size: 1.3em;
  line-height: 20px;
  text-transform: capitalize;
}
.price{
  font-size: 1em;
  display: inline;
  font-weight: bold;
  text-transform: uppercase;

}
.noche{
  display: inline;
  font-weight: lighter;
} 
.guests{
  font-size: 1em;
  display: inline;
  height: 30px;
  width: 200px;
 

} 

.guestsIcon{
  font-size:1.5em;
  
  

}
.ratingIcon{
  font-size: 1em;
  display: inline;
 

} 



  