

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.pag{
    height: 20px;
   
}
.cards{
      
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    min-height: 80vh;
   
}
.card{
    margin: 0.7em; 
    width: 300px;
    height: 40vh;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.card:hover {
    box-shadow: 3px 3px 40px 0 rgba(0,0,0,0.2);
    transition: .7s;
  
  } 

.link{
    
    cursor: pointer;
    
}
.a{
    text-decoration: none;
    color: black;
    height: 100%;
}
