.searchInput{
    border-radius: 15px 0px 0px 15px;
    height: 48px;
    width: 300px;
    font-size: 18px;
    border:0px;
    background-color: #d9d9d95d;
    padding: 9px 10px 9px 32px;
    outline: none;
    box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.2);
   
    
}
.searchInput:hover{
    
    background-color: #d9d9d99c;
    color: hsl(0, 0%, 100%);


  }
  .searchButton{
    border-radius: 0px 15px 15px 0px;
    height: 48px;
    width: 50px;
    font-size: 18px;
    border:0px;
    background-color: #d9d9d95d;
    transition: all .3s;  
    box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.2);
    
}
  .searchButton:hover{
    border-radius: 0px 15px 15px 0px;
    height: 48px;
    font-size: 18px;
    border:0px;
    background-color: #d9d9d95d;
    transition: all .3s;  
    background-color: #d9d9d99c;
    
}
.searchIcon{
  color: #069a8e;
  
}