

.favButtonF{
    margin-top:10px;
    position: absolute;
    top: 30px;
    right: 35px;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-items: center;
    outline: none;
    border: 0px;
    background: none;

  }

 

  .favT{
    font-weight: bold;
    font-size: 2em;
    background: none;
    color: rgba(251, 0, 0, 0.848);
    
  } 
  .favF{
    font-weight: bold;
    font-size: 2em;
    background: none;
    color: rgba(255, 255, 255, 0.848);
    
  } 




  
  