.flexcontainer3{
    border-color: rgb(176, 171, 171);
    border-width: 2px;
    display: flex;
    flex-direction: column;
    padding: 2px
  }

  .flexcontainer2{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    border-color: rgb(176, 171, 171);
    border-width: 2px;
  }
  ._1s21a6e2{
    position: relative !important;
    width: auto !important;
    margin-left: 8.333333333333332% !important;
    margin-right: 0% !important;
  }
  .card{
    border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;}

