.contForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  
}
.containerUser {
  width: 750px;

}

.lselect {
  width: 700px;
  display: flex;
  flex-direction: column;
}
.lselect select {
  width: 180px;
  margin-right: 20px;

  /*  margin-top: 20px; */
}

.containerUser {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.s1 {
  height: 2em;
  width: 150px;
}
.s2 {
  height: 2em;
  width: 180px;
  
}

.lodTitle {
  min-width: 580px;
  /*  margin-bottom: 20px; */
}
.titulo {
  display: flex;
  justify-content: center;
}

.lTitle {
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.mapL {
  margin-bottom: 30px;
}
/* .aInput{
    width:60%;
    float: left;
    margin-right: 20px;
} */

.textA {
  resize: none;
  height: 150px;
  min-width: 620px;
}

.inputLtgLtg {
  display: none;
}
.group1,
.group2,
.group3 {
  display: flex;
 
}
/* check */
.fcontainer {
  margin-right: 150px;
  padding-right: 20px;
  text-transform: uppercase;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  position: relative;
  margin-bottom: 40px;
}

.fcontainer input {
  position: absolute;
  transform: scale(0);
}

.fcontainer input:checked ~ .checkmark {
  transform: rotate(45deg);
  height: 1.5em;
  width: 0.7em;
  border-color: #32cd32;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.fcontainer .checkmark {
  display: block;
  width: inherit;
  height: inherit;
  border: 2px solid #32cd32;
  border-radius: 4px;
  transition: all 0.3s;
  margin-left: 15px;
  
}
.services {
  width: 700px;
}


/* BOTON */
/* From uiverse.io */
.lButton {
  margin-bottom: 50px;
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
}

.lButton:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.lButton:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.lButton:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.lButton:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.lButton:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* fin del boton */

.error{
    color: red;
   
  }

  .group3{
 
    height: 70px;
    gap: 15px;
   
  }

.bathCheck {
  width: 60px;
  height: 50px;
}
.bthrooms{
    margin-top: 20px;
    margin-bottom: 70px;
}
.containerMap{
    margin-top: 20px;
    
}

.group4{
    display: flex;
    gap: 20px;
   
  }
  .eAddress input{
    width: 400px;
    height: 2.5em;
  }
  .group4 button{
    height: 2.5em;
  }
  .preview{
    max-width: 750px;
    max-height: 750px;
  }
  .centerButton{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .cty{
    margin-top: 20px;
    margin-bottom: 70px;
width: 150px;
  }