.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10%;
    margin-left: 5%;
    font-weight: bold;
    font-size: x-large;
}

.link{
    cursor: pointer;
    text-decoration: none;
    color: black;
    height: 100%;
    margin-left: 5%;
    margin-top: 2%;
}